<app-file-viewer
  *ngIf="currentFile$ | async as cOid"
  [file]="cOid"
  [repository]="repository"
></app-file-viewer>

<img
  *ngIf="!(currentFile$ | async)"
  alt="Placeholder Image"
  src="assets/svg/choice_9385.svg"
/>

<ng-container *sendTemplate="'menu-title'">
  <a
    [href]="
      'https://github.com/' +
      repository.owner +
      '/' +
      repository.name +
      '/tree/' +
      repository.branch
    "
    mat-button
    style="flex: 1; overflow: hidden; text-overflow: ellipsis;"
    title="Open on GitHub"
  >
    <span>{{ repository.owner }}/{{ repository.name }}/{{ repository.branch }}</span>
    <mat-icon style="margin-left: 4px;" svgIcon="github-circle"></mat-icon>
  </a>
</ng-container>

<ng-container *sendTemplate="'toolbar-title'">
  <app-file-tabs
    (fileClosed)="onFileClosed($event)"
    (fileSelected)="onFileSelected($event)"
    [activeOid]="(currentFile$ | async)?.oid"
    [files]="openFiles"
  ></app-file-tabs>
</ng-container>
<ng-container *sendTemplate="'nav-list'">
  <mat-progress-bar
    *ngIf="loader.loading$ | async"
    [@loadingBar]
    mode="indeterminate"
  ></mat-progress-bar>
  <app-file-tree
    (fileSelected)="onFileSelected($event)"
    [repository]="repository"
  ></app-file-tree>
</ng-container>
