<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node
    (click)="openFile(node)"
    *matTreeNodeDef="let node"
    [matTreeNodePaddingIndent]="20"
    matTreeNodePadding
  >
    <button class="pointer" disabled mat-icon-button>
      <mat-icon svgIcon="file-outline"></mat-icon>
    </button>
    {{ node.item }}
  </mat-tree-node>
  <mat-tree-node
    *matTreeNodeDef="let node; when: hasChild"
    [matTreeNodePaddingIndent]="20"
    matTreeNodePadding
    matTreeNodeToggle
  >
    <button [attr.aria-label]="'toggle ' + node.filename" disableRipple mat-icon-button>
      <mat-icon
        [svgIcon]="treeControl.isExpanded(node) ? 'chevron-down' : 'chevron-right'"
        class="mat-icon-rtl-mirror"
      >
      </mat-icon>
    </button>
    {{ node.item }}
  </mat-tree-node>
</mat-tree>
