<div>{{ file.name }}</div>
<code>{{ file.byteSize / 1024 | number: '1.1-1' }} KB</code>

<ng-container *ngIf="!(isHandset$ | async); else mobileMenuTmpl">
  <button (click)="openDialog()" mat-button>
    <mat-icon svgIcon="code-tags-check"></mat-icon>
    <code>{{ file.language.name }}</code>
  </button>

  <div id="spacer"></div>

  <button
    (cbOnError)="copySnack($event)"
    (cbOnSuccess)="copySnack($event)"
    [cbContent]="copyContent"
    mat-button
    ngxClipboard
  >
    <mat-icon svgIcon="content-copy"></mat-icon>
    Copy Link
  </button>

  <a [href]="githubLink" mat-button rel="noopener" target="_blank">
    <mat-icon svgIcon="github-circle"></mat-icon>
    Open on GitHub
  </a>

  <a [href]="rawContentLink" mat-button rel="noopener" target="_blank">
    <mat-icon svgIcon="code-braces"></mat-icon>
    View raw content
  </a>
</ng-container>

<ng-template #mobileMenuTmpl>
  <button [matMenuTriggerFor]="mobileMenu" mat-icon-button>
    <mat-icon svgIcon="dots-vertical"></mat-icon>
  </button>
  <mat-menu #mobileMenu="matMenu">
    <button disabled mat-menu-item>Language</button>
    <button (click)="openDialog()" mat-menu-item>
      <mat-icon svgIcon="code-tags-check"></mat-icon>
      <span>{{ file.language.name }}</span>
    </button>
    <mat-divider></mat-divider>
    <button disabled mat-menu-item>File actions</button>
    <button
      (cbOnError)="copySnack($event)"
      (cbOnSuccess)="copySnack($event)"
      [cbContent]="copyContent"
      mat-menu-item
      ngxClipboard
    >
      <mat-icon svgIcon="content-copy"></mat-icon>
      Copy Link
    </button>

    <a [href]="githubLink" mat-menu-item rel="noopener" target="_blank">
      <mat-icon svgIcon="github-circle"></mat-icon>
      Open on GitHub
    </a>

    <a [href]="rawContentLink" mat-menu-item rel="noopener" target="_blank">
      <mat-icon svgIcon="code-braces"></mat-icon>
      View raw content
    </a>
  </mat-menu>
</ng-template>
