<mat-form-field [formGroup]="formGroup" appearance="fill" style="width: 100%;">
  <mat-label>Branch</mat-label>
  <input
    #branchInput
    [matAutocomplete]="auto"
    formControlName="branch"
    matInput
    required
    type="text"
  />
  <mat-icon matPrefix svgIcon="source-branch"></mat-icon>
  <mat-icon
    [class.mdi-spin]="fetching"
    [svgIcon]="fetching ? 'loading' : 'menu-down'"
    matSuffix
  ></mat-icon>
  <mat-autocomplete #auto="matAutocomplete" (opened)="fetchBranches()">
    <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
