div {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 49px);
  max-height: calc(100vh - 49px);

  & > app-file-renderer {
    flex: 1 1 0;
    order: -1;
    margin: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }

  & > app-file-footer {
    height: 48px;
    overflow: hidden;
  }
}
