<form (ngSubmit)="submit()" [formGroup]="repoForm" novalidate>
  <mat-card style="display: inline-block;">
    <mat-card-header>
      <mat-icon mat-card-avatar svgIcon="github-circle"></mat-icon>
      <mat-card-title>Select a GitHub repository</mat-card-title>
      <mat-card-subtitle
        >Scope:
        {{ (auth.authState$ | async).extended ? 'Extended' : 'Basic' }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Owner</mat-label>
        <input formControlName="owner" matInput required type="text" />
        <mat-icon matPrefix svgIcon="account-circle"></mat-icon>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput required type="text" />
        <mat-icon matPrefix svgIcon="database"></mat-icon>
      </mat-form-field>

      <app-branch-selector [formGroup]="repoForm"></app-branch-selector>
    </mat-card-content>

    <mat-card-actions>
      <button
        [disabled]="repoForm.invalid || loading"
        color="primary"
        mat-raised-button
        type="submit"
      >
        Select
      </button>
      <button
        (click)="setLastValues()"
        [disabled]="!historyAvailable || loading"
        [title]="historyString"
        color="primary"
        mat-raised-button
        type="button"
      >
        <mat-icon svgIcon="history"></mat-icon>
      </button>
    </mat-card-actions>
    <mat-error *ngIf="!!routingFailed">
      <mat-icon svgIcon="alert"></mat-icon>
      {{ routingFailed }}</mat-error
    >
  </mat-card>
</form>
