<mat-tab-group
  (selectedIndexChange)="fileSelected.emit(files[$event])"
  color="accent"
  style="flex: 1;"
>
  <mat-tab *ngFor="let file of files">
    <ng-template mat-tab-label>
      <span (click)="fileSelected.emit(file)" class="file-label">
        {{ file.fileName }}
      </span>
      <button
        (click)="$event.stopPropagation() || fileClosed.emit(file.oid)"
        class="close-file"
        color="accent"
        mat-icon-button
        title="Close"
      >
        <mat-icon svgIcon="close"></mat-icon>
      </button>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<button [matMenuTriggerFor]="fileMenu" color="accent" mat-flat-button>
  <mat-icon svgIcon="file-multiple"></mat-icon>
  <span style="margin-left: 12px;">{{ files.length }}</span>
</button>

<mat-menu #fileMenu="matMenu">
  <button (click)="fileClosed.emit(null)" mat-menu-item>
    <mat-icon
      color="accent"
      style="transform: translateY(-2px);"
      svgIcon="close-octagon"
    ></mat-icon>
    Close all
  </button>
  <mat-divider></mat-divider>
  <button (click)="fileSelected.emit(file)" *ngFor="let file of files" mat-menu-item>
    {{ file.fileName }}
  </button>
</mat-menu>
